.about-page {
  overflow: hidden;
}

.about-page-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

#video-bg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.img-holding-cube {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-left: 3%;
}

.about-text-container {
  width: 440px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
  z-index: 3;
  animation: fadeIn 3s;
}

.about-text-container {
  color: white;
  font-size: 38px;
  font-family: "Orbitron", sans-serif;
}

.about-intro-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.intro-text-1 {
  color: rgb(199, 0, 152);
  margin-left: 10px;
}

.intro-text-2 {
  font-size: 72px;
  font-family: "Rubik Mono One", sans-serif;
  color: transparent;

  background: url(/images/about-me-img/name-stripes.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: nameStripe 20s linear infinite;
  text-shadow: 0 0 10px rgba(199, 0, 152, 0.505);
}

@keyframes nameStripe {
  100% {
    background-position: 2000px 0;
  }
}

.intro-text-3 {
  color: rgb(199, 0, 152);
  background-color: white;
  margin-left: 10px;
  padding: 10px;
}

.intro-text-4 {
  font-size: 15px;
  background-color: rgb(199, 0, 152);
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px 10px;
}

.my-skills-btn {
  position: absolute;
  bottom: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 60px;
  font-family: "Orbitron", sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgba(157, 0, 120, 0.374);
  border: 3px solid rgb(199, 0, 152);
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.316);
  transition: 0.5s;
  z-index: 3;
}

.card-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
  margin-top: 10%;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.card-container.active {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.card-container .skill-card {
  position: relative;
  width: 220px;
  height: 310px;
  margin: 30px;
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.316);
  border-radius: 15px;
  background-color: rgba(199, 0, 152, 0.588);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card-container .skill-card .skills {
  padding: 20px;
  text-align: center;
  margin-top: 10px;
}

.card-container .skill-card .skills .skill-title {
  position: absolute;
  top: -10px;
  right: 0px;
  color: rgba(143, 143, 143, 0.5);
  pointer-events: none;
  font-size: 60px;
  font-family: "Barlow Condensed", sans-serif;
  z-index: -1;
}
.card-container .skill-card .skills .skill-title1 {
  position: absolute;
  transform: rotate(-90deg);
  top: 100px;
  right: -60px;
  color: rgba(143, 143, 143, 0.5);
  pointer-events: none;
  font-size: 80px;
  font-family: "Barlow Condensed", sans-serif;
  z-index: -1;
}

.skill-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-icon {
  width: 45px;
  height: 45px;
  margin: 15px;
  z-index: 3;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(+100%);
  transition: all 2s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(-0%);
}

@media screen and (max-width: 1400px) {
  .img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-holding-cube {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .card-container .skill-card {
    width: 200px;
    height: 280px;
  }
  .card-container .skill-card .skills .skill-title {
    top: 0px;
    right: 5px;
    font-size: 50px;
  }
  .card-container .skill-card .skills .skill-title1 {
    top: 90px;
    right: -35px;
    font-size: 60px;
  }
  .skill-icon {
    width: 40px;
    height: 40px;
    margin: 15px;
    z-index: 3;
  }
}

@media screen and (max-width: 1200px) {
  .img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-holding-cube {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
  }
  img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
}

@media screen and (max-width: 1200px) {
  .img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-holding-cube {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
  }
  img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .card-container .skill-card {
    width: 150px;
    height: 230px;
  }
  .card-container .skill-card .skills .skill-title {
    top: -15px;
    right: 5px;
    font-size: 38px;
  }
  .card-container .skill-card .skills .skill-title1 {
    top: 65px;
    right: -38px;
    font-size: 50px;
  }
  .skill-icon {
    width: 30px;
    height: 30px;
    margin: 9px;
    z-index: 3;
  }
}

@media screen and (max-width: 580px) {
  .img-holding-cube {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    // bottom: 15%;
  }

  img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110%;
  }

  .card-container .skill-card {
    width: 140px;
    height: 220px;
  }
  .card-container .skill-card .skills .skill-title {
    top: -15px;
    right: 5px;
    font-size: 38px;
  }
  .card-container .skill-card .skills .skill-title1 {
    top: 65px;
    right: -38px;
    font-size: 50px;
  }
  .skill-icon {
    width: 30px;
    height: 30px;
    margin: 9px;
    z-index: 3;
  }
  .about-text-container {
    width: 320px;
    height: 200px;
    color: white;
    font-size: 28px;
    font-family: "Orbitron", sans-serif;
  }

  .intro-text-2 {
    font-size: 52px;
  }

  .intro-text-4 {
    width: 310px;
    font-size: 10px;
    text-align: center;
  }
  .my-skills-btn {
    bottom: 15%;
  }
}

@media screen and (max-width: 425px) {
  .img-holding-cube {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    // bottom: 5%;
  }

  img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 0%;
  }
  .about-text-container {
    width: 300px;
    height: 70px;
    color: white;
    font-size: 28px;
    font-family: "Orbitron", sans-serif;
  }

  .intro-text-2 {
    font-size: 52px;
  }

  .my-skills-btn {
    bottom: 10%;
  }
}

@media screen and (max-width: 376px) {
  .img-holding-cube {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
  }

  img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 0%;
  }
}
@media screen and (max-width: 321px) {
  .img-holding-cube {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
  }

  img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120%;
  }
}
