.myproject-page-container {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(black, black, #c70098);
}

.myProjectContent {
  width: 60vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.webshop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  max-width: 100%;
  min-height: 200px;
  flex-direction: column;
  background-color: #ad0085;
  border-radius: 10px;
  border: 5px solid #222222c5;
  transition: 0.5s ease;
  box-shadow: 0 0 10px #3e3e3e, 0 0 15px #c70098, 0 0 30px#d700a5,
    inset 0 0 20px #3e3e3e;

  h2 {
    transition: 0.5s ease;
    color: #222222a1;
    letter-spacing: 3px;
    font-size: 28px;
    font-family: "Barlow Condensed", sans-serif;
  }
}

.webshop:hover {
  transition: 0.5s ease;
  transform: scale(1.1, 1.1);

  h2 {
    transition: 0.5s ease;
    transform: scale(1.1, 1.1);
  }
}

.fa-bag-shopping {
  font-size: 40px;
  color: #222222bd;
  text-decoration: none;
  margin-top: 5px;
  transition: 0.5s ease;
}
